<manifest package="org.geometerplus.zlibrary.ui.android"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application>
        <activity
            android:name="org.geometerplus.android.fbreader.error.BookReadingErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":error"
            android:theme="@style/FBReader.Dialog" >
            <intent-filter>
                <action android:name="android.fbreader.action.ERROR" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="BookReadingException" />
            </intent-filter>
        </activity>

        <activity android:name="org.geometerplus.android.fbreader.BookCatalogActivity">
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.crash.FixBooksDirectoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":crash"
            android:theme="@style/FBReader.Dialog" >
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="CachedCharStorageException" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.crash.MissingNativeLibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":crash"
            android:theme="@style/FBReader.Dialog" >
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ExceptionInInitializerError" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="UnsatisfiedLinkError" />
            </intent-filter>
        </activity>

        <service
            android:name="org.geometerplus.android.fbreader.api.ApiService"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.fbreader.action.API" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="org.geometerplus.android.fbreader.FBReader"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/FBReader.Activity" >
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="fbreader-action" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPattern=".*\\.fb2"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="file" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-pilot-prc" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="org.geometerplus.android.fbreader.style.StyleListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.style.EditStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.image.ImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":imageView"
            android:theme="@style/FBReader.Activity" />

        <service
            android:name="org.geometerplus.android.fbreader.libraryService.LibraryService"
            android:launchMode="singleTask"
            android:process=":libraryService" >
            <intent-filter>
                <action android:name="android.fbreader.action.LIBRARY_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name="org.geometerplus.android.fbreader.library.BookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":library"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.library.LibrarySearchActivity"
            android:process=":library"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.library.LibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":library"
            android:theme="@style/FBReader.Activity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.geometerplus.android.fbreader.library.LibrarySearchActivity" />
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.BookmarksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":bookmarks"
            android:theme="@style/FBReader.Activity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.BookmarkEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.EditBookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":library"
            android:theme="@style/FBReader.Activity" />

        <!-- PDF相关 -->
        <activity
            android:name="com.artifex.mupdfdemo.ChoosePDFActivity" >
        </activity>
        <activity
            android:name="com.artifex.mupdfdemo.MuPDFActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-xpsdocument" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-cbz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xps" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.artifex.mupdfdemo.PrintDialogActivity" >
        </activity>
        <activity
            android:name="com.brainsoon.outlookactivity.OutLookActivity" >
        </activity>

        <activity
            android:name="com.brainsoon.utils.TempActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" >
        </activity>
        <activity
            android:name="com.brainsoon.utils.TxtReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brainsoon.utils.BitmapScannerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" />
    </application>


</manifest>
